<div id="homepageDivs">

  <div id="welcomeDiv">
    <img id="logo" src="/images/logo.png" alt="" />
  </div>

  <div>
    <p id="paraHP">SIGN UP TO TODO AND CREATE ALL THE
      <br />
      TO-DO LISTS YOU NEED TO STAY ORGANIZED!</p>
  </div>

  <div id="btnHPDiv">
    <form action="/auth/signup" method="get">
      <button id="btnHP">
        CREATE YOUR FIRST TODO LIST!
      </button>
    </form>

  </div>

</div>