<div id="homepageDivs">
  {{!-- <div id="backImg">
    {{! <div id="h1HPDiv"><h1 id="h1HP">WELCOME</h1></div> }}
  </div> --}}

  <div id="welcomeDiv">
    <img id="logo" src="/images/logo.png" alt="" />
  </div>

  <div>
    <p id="paraHP">Sign up to Todo and create all the
      <br />
      to-do lists you need to stay organized!</p>
  </div>

  <div id="btnHPDiv">
    <button id="btnHP">
      CREATE YOUR FIRST TODO LIST!
    </button>
  </div>

</div>

{{! <div id="homepageDiv">
    <div id="imgHPDiv"><img
        id="imgHomepage"
        src="/images/home page.png"
        alt=""
      /></div>
  </div> }}