@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  font-family: "M PLUS 2", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
}

.ulNav {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(201, 219, 189);
  font-size: 1.2em;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}

li a:hover {
  background-color: rgb(192, 214, 179);
}

.container {
  display: flex;
  justify-content: center;
}

#form {
  background-color: rgb(245, 251, 240);
  width: 30%;
  height: 40%;
  margin: auto;
  position: absolute;
  top: 30%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 30%;
  height: 40%;

  background: rgb(245, 251, 240);

  box-shadow: 0px 2px 4px rgba(41, 41, 41, 0.08);
  border-radius: 15px;
  background: #ffffff;

  border-top: 5px solid rgb(218, 236, 206);
  border-left: 5px solid rgb(218, 236, 206);
  border-radius: 15px;
}

label {
  margin: 10px 0 0 30px;
}

button:hover {
  color: #001f3f;
  background-color: #fff;
}

button {
  width: 150px;
  height: 40px;
  background: #f4effe;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  color: rgb(114, 110, 110);
}

button:hover {
  background-color: rgb(228, 242, 219);
}

.h2LogSignIn {
  margin: 1em 0 1em 1em;
}

.signLogInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  gap: 5px;

  display: block;
  margin: 10px 40px 15px 30px;

  width: 250px;
  height: 44px;

  background: #ffffff;

  border: 3px solid #decffb;
  border-radius: 8px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* Dropdown Button */
.dropbtn {
  width: 300px;
  height: 34px;

  background: #ffffff;
  color: rgb(132, 131, 131);

  border: 2px solid #e9dffc;
  border-radius: 5px;
  margin-top: 1em;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: rgb(250, 250, 250);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 290px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 2em;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(114, 110, 110);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.list-card {
  display: flex;
  width: 25%;
  margin: 3em;
  margin-top: 1em;
  background-color: rgb(245, 251, 240);
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background: rgb(245, 251, 240);
  box-shadow: 1px 2px 4px 2px rgba(41, 41, 41, 0.08);
  border-radius: 15px;
  background: #fffefe;
  position: relative;
}

.listTitleInput {
  display: flex;
  justify-content: center;
  border: none;
  width: 250px;
  height: 44px;
}

.listTitleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
}

#addListInput {
  margin: 1.5em 1em 3em 2em;
}

.addListBtn {
  margin: 1.5em 1em 3em 1em;
  width: 100px;
}

#listsDiv,
#btnListsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: left;
}

.icons {
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em;
}

.todoList {
  margin-bottom: 1em;
  margin-left: 2em;
}

.addTaskBtn {
  margin-bottom: 1.5em;
}

.addTaskInput {
  padding: 14px;
  gap: 5px;
  margin: 0 auto;
  max-width: 200px;
  height: 2.8rem;
  background: #ffffff;
  border: 3px solid #decffb;
  border-radius: 8px;
  align-self: stretch;
}

input:focus {
  outline: none;
  border: 3px solid rgb(204, 220, 193);
  border-radius: 8px;
}

h2 {
  margin: 0.2em 0 0.5em 0.5em;
  color: rgb(189, 210, 175);
  font-size: 2.5rem;
  font-family: "Barlow Condensed", sans-serif;
  opacity: 0.5;
  display: inline-block;
  width: fit-content;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.dropdown form {
  display: flex;
  gap: 2rem;
}

.linkStyle {
  text-decoration: overline;
  color: rgb(170, 188, 157);
  position: absolute;
  bottom: 15;
}

.linkStyle:hover {
  color: #c9bbe3;
}

#backImg {
  background-image: url("/images/brandi-redd-aJTiW00qqtI-unsplash.jpg");
  background-size: 210%;
  height: 100%;
  width: 20%;
}

.titlesIcon {
  height: 1.7rem;
  width: 1.7rem;
  margin-left: 0.5rem;
}

.titlesIcon:hover {
  cursor: pointer;
}

#doneSpan {
  color: rgb(170, 188, 157);
}

.doneContainer {
  display: flex;
  flex-wrap: wrap;
  float: left;
  gap: 1rem;
  margin-bottom: 5rem;
}

#logo {
  width: 10rem;
}

#welcomeDiv {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#paraHP {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3rem;
  line-height: 5rem;
  color: rgb(188, 185, 185);
  opacity: 0.4;
  text-align: center;
}

#btnHP {
  height: 3.5rem;
  width: 15rem;
  color: rgb(114, 110, 110);
  background: #ffffff;
  border: 3px solid rgb(204, 220, 193);
  border-radius: 8px;
}

#btnHP:hover {
  border: 3px solid #decffb;
}

#btnHPDiv {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

#btnDeleteDone {
  margin-left: 35%;
}
